<div class="container">
	<div class="resume">
	  		<p>thanks for your purchase please check your order detail:</p>
	  		<span>Total price in a resume: ${{total}}</span>
	  	</div>
	<div class="table-responsive">
	  	<table class="table">
	  		<thead>
	  			<tr>
		          	<th>#</th>
		          	<th>Title</th>
		          	<th>Artist Name</th>
		          	<th>Price</th>
		          	<th>Image</th>
		        </tr>
	  		</thead>
	  		<tbody>
	  			<tr ng-repeat="item in items">
					<td scope="row"></td>
					<td>{{item.titleItem}}</td>
					<td>{{item.artistName}}</td>
					<td>${{item.price | number}}</td>
					<td><img ng-src="{{item.image}}"></td>
				</tr>
	  		</tbody>
	  	</table>

	</div>
</div>